html {
    height: 100vh;
}
body {
    font-family: arial;
    background-image: url("img/purple_bg.jpg");
    background-repeat: repeat;
    background-size: 300px;
}

#photobox {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.parent {
    width: 100%;
    height: 80%;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}

#save-date {
    position: absolute;
    top: 10%;
    height: 80%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    border-radius: 30px;
    -moz-box-shadow:5px 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow:5px 5px 5px rgba(0,0,0,0.3);
    box-shadow:5px 5px 5px rgba(0,0,0,0.3);
}

#header-contents {
    top: 0px;
    vertical-align: middle;
    margin-left: 10px;
}

.falling-pics {
    width: 15%;
    object-fit: cover;
    position: absolute;
    -moz-box-shadow:5px 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow:5px 5px 5px rgba(0,0,0,0.3);
    box-shadow:5px 5px 5px rgba(0,0,0,0.3);
}

#eng {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

iframe::-webkit-scrollbar {
    display: none;
}