html {
    height: 100vh;
}
body {
    font-family: arial;
    background-image: url('img/wood_bg.jpeg');
    background-size: 400px; 
    background-repeat: repeat;
}

#photobox {
    position: absolute;
    top: 0; 
    left: 0; 
    height: 100vh;
    width: 100vw; 
    z-index: 1; 
}

.parent {
    width: 100%; 
    height: 80%; 
    position: relative;
    overflow-y: hidden;
}

#save-date {
    position: absolute; 
    top: 10%; 
    height: 80%; 
    left: 0; 
    right: 0; 
    margin: auto; 
    z-index: 2;
    border-radius: 30px;
}

#header {
    top: 0px; 
    height: 7.5%; 
    overflow: hidden;
    background-color: rgb(193, 150, 194);
    width: 100%;
    z-index: 10;
    position: absolute;
}
#header-contents {
    top: 0px; 
    vertical-align: middle; 
    margin-left: 10px; 
}

.gallery {
    width: 15%;
    object-fit: cover;
    position: absolute;
}